.registerbutton {
    background-color: #5E5BFF;
}

.loginlink {
    color: #5E5BFF;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 0;
}

.registerlogo {
    width: auto;
    display: block;
    margin: auto;
}

.registerformcard {
    border: none;
    background-color: #efa9ae;
}